/* DEBUGGING MODE - Uncomment to keep dropdown visible  */
 .options-dropdown {
    visibility: visible !important;
}  


span {
    color: #CCC;
}
/* nav button */
.nav-item {
    display: inline-block;
    cursor: pointer;
    padding: 3px 8px 0;
    height: 20px;
    background: #424242;
    box-shadow: 2px 2px 8px #111;
    border: none;
    letter-spacing: .02em;
    margin-left: 4px;
    position: relative;
    user-select: none;
}

.handle {
    position: relative;
}

/* dropdown panel */
.options-dropdown {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 6px;
    z-index: 1000;
    padding: 5px;
    width: 240px;
    text-align: left;
    font: 15px/1 sans-serif;
    color: #b3b3b3;
    background: #2c2c2c;
    box-shadow: 0 0 1px 4px #111;
    border: none;
    transition: visibility .5s ease-out;
}

    .options-dropdown::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -6px;
        height: 6px;
    }

.options-menu:hover .options-dropdown,
.handle:hover .options-dropdown {
    visibility: visible;
}

/* rows */
.option-item,
.radio-item {
    color: #b3b3b3;
    text-align: left;
    font-weight: normal;
    font-size: 15px;
    overflow: hidden;
    background-color: #2c2c2c;
    display:flex;

}

    .option-item label,
    .radio-item label {
        display: block;
        padding:2px;
        overflow:hidden;
    }

.options-dropdown input[type="checkbox"] {
    margin: 4px;
    cursor: pointer;
    width: 13px;
    height: 13px;
    flex-shrink: 0; /* Prevent checkbox from shrinking */
}

.options-dropdown select,
.options-dropdown input[type="number"] {
    font-size: 15px;
    color: #DDD;
    border: none;
    display: inline-block;
    width: fit-content;
    background: transparent;
}

    .options-dropdown label:hover,
    .options-dropdown input:hover + label {
        background: #253c63 !important;
        color: #fff;
    }
.options-dropdown select:focus,
.options-dropdown input[type="number"]:focus {
    background: #555; /* show solid bg */
    outline:0;
}

.group-label {
    font-weight: bold;
    display: block;
    margin-bottom: 2px;
}

/* subgroup container */
.radio-group {
    background: #2c2c2c;
    padding: 0px 0 0px 12px;
    border-left: 1px solid #444;
}

/* indentation levels */
.depth-1 {
    margin-left: 12px;
}

.depth-2 {
    margin-left: 24px;
}

.depth-3 {
    margin-left: 36px;
}

.depth-4 {
    margin-left: 48px;
}
/* add more if ever needed */

/* optional visual cues */
.depth-3 .group-label {
    color: #9ad;
}

.depth-4 .group-label {
    color: #8c8;
}

.option-item.sub-option {
    margin-left: 20px;
}
