.table-container {
    margin: 0 auto;
    width: fit-content;
}

.settings-section {
}

.settings-section h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.setting-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.setting-item:last-child {
    border-bottom: none;
}

    .setting-item label {
        float: left;
        clear: left;
        height: 25px;
        padding-top: 6px;
        margin-right: 10px;
        box-sizing: border-box;
    }
    .setting-item select {
        font-size: 12px;
        border: #707070 solid 2px;
        background-color: #333;
        padding: 3px;
        color: #ffffff;
        box-sizing: border-box;
    }

